# Make sure that the environment has the latest pip version 
--upgrade pip==23.1.2

# Dependencies
keras>=2.13.1
keras_nightly>=2.5.0.dev2021032900
numpy>=1.24.3
Pillow>=9.2.0
Pillow==10.0.0
streamlit>=1.24.0
tensorflow>=2.13.0
tensorflow_intel>=2.13.0
